<li>
  In response to {{answer.question.title}}:
  <br><em>{{answer.responder}}</em> <br>
  {{answer.atext}}
</li>

{{update-answer answer=answer update="update"}}
<br><button {{action 'delete' answer}}>Delete Answer</button>


{{log model}}
