<li>
  <hr>
  {{fullAnswer}}
  <h3>{{answer.atext}}</h3>
</li>

{{update-answer answer=answer update="update"}}
<br><button {{action 'delete' answer}}>Delete Answer</button>
<br><button {{action 'addToList' answer}}>Add to Favorites</button>
