<li><hr> {{#link-to 'question' question.id}}

  <div id="q-title">{{question-popularity question}}{{question.title}}</div><br>
  {{/link-to}}
  <div id="q-asker">{{question.asker}}</div><br><br>

  {{#if isQTextShowing }}
    <p {{action 'qtextHide'}}>{{question.qtext}}</p>
  {{else}}
    <button {{action 'qtextShow'}}>Show Question</button>
  {{/if}}
</li>
