<div id="q-title">{{model.title}}</div>
<div id="q-asker">{{model.asker}}</div>
<div>{{model.qtext}}</div>

<hr>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
<hr>

{{log model.answers.length}}
<h2>Answers</h2>
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer }}
  {{/each}}
</ul>

{{new-answer savea="savea" question=model}}
